<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script>
			function rem() {
				var t = 100,
					o = 750,
					e = document.documentElement.clientWidth || window.innerWidth,
					n = Math.max(Math.min(e, 480), 320),
					h = 50;
				320 >= n && (h = Math.floor(n / o * t * .99)), n > 320 && 362 >= n && (h = Math.floor(n / o * t * 1)), n > 362 && 375 >= n && (h = Math.floor(n / o * t * 1)), n > 375 && (h = Math.floor(n / o * t * .97)), document.querySelector("html").style.fontSize = h + "px"
			};
			rem();
			window.onresize = function() {
				rem();
			}
			
		</script>
		<style type="text/css">
			* {
				padding: 0;
				margin: 0;
			}

			html,
			body {
				width: 100%;
			}

			.page_main {
				width: 100%;
			}
			.page_main .item:first-child{
				margin: 0 auto;
			}
			
			.page_main .item {
				width: 100%;
				height: 3rem;
				margin: .4rem auto;
				background: red;
				text-align: center;
				line-height: 3rem;
				color: white;
			}
			footer.ft{
				width: 100%;
				padding-top: 0.5rem;
				padding-bottom: 1rem;
				background: #000000;
				color: white;
				font-size: .2rem;
			}
			
			footer.ft .ft_txt{
				margin: 0 auto;
				text-align: center;
			}
			
			
		</style>

		<title>我的主页</title>

	</head>

	<body>

		<div class="page_main">
            <aside class="item">我</aside>
			<aside class="item">的</aside>
			<aside class="item">主</aside>
			<aside class="item">页d</aside>
		</div>

		<footer class="ft">
			<p class="ft_txt">备案号：豫ICP备18019027号-2</p>
		</footer>

	</body>

</html>

